.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
}

.login-container form{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 20px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
  
}
.login-container h2 {
  text-align: center;
  color: #fff;
}

.login-container div {
  margin-bottom: 15px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #0c0c0c;
  border-radius: 4px;
}

.login-container .error {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

@media (max-width:600px) {
  .login-container form{
    width: 80%;
   
  
}
}
